services:
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - network

  generator:
    build:
      context: ./generator
      dockerfile: Dockerfile
    container_name: generator
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      GENERATOR_INTERVAL_SECONDS: ${GENERATOR_INTERVAL_SECONDS:-10}
      GENERATOR_MAX_RECORDS: ${GENERATOR_MAX_RECORDS:-1000}
    restart: unless-stopped
    networks:
      - network

volumes:
  postgres_data:
networks:
  network:
    driver: bridge